@mixin flexStuff($just){
    display: flex;
    flex-wrap: wrap;
    justify-content: $just;
}
*{
    font-family: cursive;
}

@media screen and (max-width: 640px){
    .sign{
        
        @include flexStuff(center);
        input{
            width: 90%;
            margin-bottom: 20px;
            padding: 6px;
            border-radius: 5px;
            border: 1px solid rgb(189, 188, 188);
        }
        button{
            background-color: black;
            border: 1px solid transparent;
            border-radius: 3px;
            color: white;
            padding: 7px;
            cursor: pointer;
            margin: 10px;
        }
    }
    
}